.hamburger{
  cursor: pointer;
  width: 35px;
  height: 30px;
  margin: 20px 0px 0px 15px;
  z-index: 4;
  font-weight: bold;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.hamburger span{
  width: 35px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 9px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.hamburger span:nth-child(2) {
  top: 8px;
  left: 0%;
}

.hamburger.open span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  top: 18px;
  width: 0%;
  left: -20%;
}

.hamburger.open ul{
  visibility: visible;
  color: #FFFFFF;
  -webkit-animation: show 0.7s;
  font-size: 20px;
  margin-left: 18px;
}

.header.open{
  z-index: 6;
  width: 100vw;
  height: 100vh;
  background:rgba(000,000,000);
  -webkit-animation: expand 0.7s;
}

li{
  margin-top: 50px;
}

@-webkit-keyframes expand{
  from {width: 0px;}
  to {width: 100%;}
}

@-webkit-keyframes show{
  from {font-size: 0px;}
  to {font-size: 20px;}
}

ul{
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 80vw;
}

span{
  -webkit-animation: expand 0.7s;
}
/* Span animaties */

/* .hamburger:hover span:nth-child(2){
  width: 45px;
}

.hamburger:hover span:nth-child(2)::after{
  font-size: 10px;
  font-weight: bolder;
  color: #FFFFFF;
  content: 'menu';
} */

/* .hamburger.open:hover span:nth-child(2)::after{
  font-size: 10px;
  font-weight: bolder;
  color: #FFFFFF;
  content: 'close';
} */
