.hamburger{
  cursor: pointer;
  width: 35px;
  height: 20px;
  margin: 20px 0px 0px 15px;
  z-index: 4;
  font-weight: 600;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.hamburger span{
  width: 35px;
  height: 2px;
  background: #000000;
  position: absolute;
  border-radius: 9px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}


.hamburger.open{
  height: 30px !important;
}

.hamburger span:nth-child(2) {
  top: 8px;
  left: 0%;
}

.hamburger.open span:nth-child(1) {
  background-color: #FFFFFF;
  top: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  top: 18px;
  width: 0%;
  left: -20%;
}

.hamburger.open ul{
  visibility: visible;
  -webkit-animation: show 0.7s;
  font-size: 20px;
  margin-left: 18px;
}

li{
  margin-top: 65px;
  color: white;
}

.header{
  position: absolute;
  display: flex;
  justify-content: left;
  height: 95vh;
}

.header.open{
  visibility: visible;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  background-color: #4ACD9A;
  -webkit-animation: expand 0.7s;
}

.header .close{
  z-index: 6;
  width: 0vw;
  height: 0vh;
  -webkit-animation: exit 0.8s;
}

ul{
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 45vw;
}

span{
  -webkit-animation: start 0.7s;
}


@-webkit-keyframes exit{
  from {width: 100vw; height: 100%;visibility: visible; background-color: #4ACD9A;}
  to {width: 0px; height: 0%; visibility: hidden; background-color: #4ACD9A;}
}

@-webkit-keyframes expand{
  from {width: 0px; height: 0%}
  to {width: 100%; height: 100%}
}

@-webkit-keyframes show{
  from {font-size: 0px;}
  to {font-size: 20px;}
}

@-webkit-keyframes start{
  from {width: 0px;}
  to {width: 100%;x}
}


/* Span animaties */

/* .hamburger:hover span:nth-child(2){
  width: 45px;
}

.hamburger:hover span:nth-child(2)::after{
  font-size: 10px;
  font-weight: bolder;
  color: #FFFFFF;
  content: 'menu';
} */

/* .hamburger.open:hover span:nth-child(2)::after{
  font-size: 10px;
  font-weight: bolder;
  color: #FFFFFF;
  content: 'close';
} */
