  @media only screen and (min-width: 1440px){
    .hamburger{
      visibility: hidden;
    }

    .landing{
      height: 130vh;
    }

    .header ul li{
      display: none;
    }

    .title h1{
      margin-top: 185px;
    }

    .header .lineHeader ul li{
      font-size: 18px;
      display: inline-block;
      visibility: visible;
      color: black;
      margin-top: 20px;
      margin-left: 50px;
      cursor: pointer;
      z-index: 3;
    }

    .header .lineHeader ul li:nth-child(2):hover::after{
      content: "";
      transform: rotate(-15deg);
      position: absolute;
      border-radius: 2px;
      height: 15px;
      background: #4ACD9A;
      opacity: 0.8;
      z-index: -1;
      animation: hover1 0.7s forwards;
    }

    .header .lineHeader ul li:nth-child(n+3):hover::after{
      content: "";
      transform: rotate(-15deg);
      position: absolute;
      border-radius: 2px;
      height: 15px;
      background: #4ACD9A;
      opacity: 0.8;
      z-index: -1;
      animation: hover2 0.7s forwards;
    }

    .header .lineHeader ul li:nth-child(4):hover::after{
      content: "";
      transform: rotate(-15deg);
      position: absolute;
      border-radius: 2px;
      height: 15px;
      background: #4ACD9A;
      opacity: 0.8;
      z-index: -1;
      animation: hover3 0.7s forwards;
    }

    @-webkit-keyframes hover1{
      from {opacity: 0; width: 0px; margin: 0px;}
      to {opacity: 0.8; width: 80px; margin: -15px 0px 0px -10px;}
    }

    @-webkit-keyframes hover2{
      from {opacity: 0; width: 0px; margin: 0px;}
      to {opacity: 0.8; width: 80px; margin: 3px 0px 0px -75px;}
    }

    @-webkit-keyframes hover3{
      from {opacity: 0; width: 0px; margin: 0px;}
      to {opacity: 0.8; width: 100px; margin: 3px 0px 0px -95px;}
    }

    .header .lineHeader ul{
      visibility: visible;
      display: flex;
      flex-direction: row;
      text-align: left;
      width: 100vw;
      padding: 0px;
    }

    .nav h2{
      margin-right: 48%;
    }

    .imgHolder{
      height: 80vh;
      box-shadow: none;
      background-position: 50% 80%;
    }

    .pImg{
      visibility: hidden;
    }

    .slider{
      width: 50%;
      margin: 0 auto;
    }

    .aboutMe{
      margin: 40vh 0vh 40vh 0vh;
    }

    .aboutMe p{
      padding: 0% 15% 2% 15%;
      text-align: left;
    }
    .contact h2{
      margin: 0px 0px 70px 0px;
    }


    .contact{
      width: 70vw;
      margin: 0 auto;
    }

  /*
    body{
      background: red;
    } */
  }
