body{
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #202325;
}

.landing{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

figure{
  width: 45px;
  height: 35px;
}

.logo{
  position: absolute;
  width: 45px;
  height: 35px;
  margin: 7px 70px;
}

.title{
  width: 300px;
  font-weight: 900;
  align-self: center;
  text-align: center;
  color: #202325;
  position: absolute;
}

.title p{
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 80px;
}

.title .hire{
  border: 4px solid #4ACD9A;
  padding: 12px 40px;
  margin-bottom: 50px;
}

.headTitle{
  text-align: center;
  margin-top: 100px;
}

.title-holder{
  display: flex;
  align-items: center;
  margin: -70px 0px 100px;
}

.preposition{
  font-size: 50px;
}

.additions{
  margin-left: 20px;
}

.additions h1{
  text-align: left;
}

.projects{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200vh;
  align-items: center;
}

/* .decoration{
  position: absolute;
  right: 0px;
  z-index: -2;
}

.decoration img{
  height: 350px;
} */

.project{
  width: 70vw;
  height: 70vh;
  margin: 15vh 0vh;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  background: #4ACD9A;
}

#project1,
#project2{
    display: none;
}


.flex-textHolder{
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px -40px;
}

.flex-textHolder:nth-child(2){
    margin: -40px 0px 0px -40px;
}

.project p{
  font-size: 22px;
  font-weight: 600;
}

.project p:nth-child(1){
  color: #4ACD9A;
}

.project p:nth-child(2){
  color: #FFFFFF;
}

.competences{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

.comp-holder{
  color: #646464;
  align-self: center;
  width: 80vw;
  margin: 0px 0px 50px 0px;
}

.comp-holder h2{
  color: #202325;
}

.comp-holder span{
  display: block;
  width: 100%;
  height: 4px;
  background: #4ACD9A;
}

.comp-holder svg{
  height: 100px;
  margin-bottom: 20px;
}

.logo path{
  fill : #FFFFFF !important;
}

.header svg path{
  fill: #FFFFFF;
  -webkit-animation: opacity 4.5s;
}

@-webkit-keyframes opacity{
  from {fill-opacity: 0;}
  to {fill-opacity: 1}
}

.tech{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  text-align: center;
  color: #646464;
}

.skill{
  width: 33%;
  align-self: center;
}

footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px 0px 0px 0px;
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  text-align: center;
}

.footer-content{
  width: 100%;
  height: 45%;
  background: #202325;
  color: #FFFFFF;
}

button{
  display: block;
  margin: 0 auto;
  padding: 15px 25px 15px 70px;
  border: none;
  color: #FFFFFF;
  background: #4ACD9A;
  font-weight: 700;
}

footer .hire{
  padding: 10px 25px;
  border: 4px solid #FFFFFF;
  background: #202325;
}

.footer-content:nth-of-type(2){
  background: #4ACD9A;
  height: 55%;
  color: #FFFFFF;
}

.footer-content:nth-of-type(2) h4{
  font-weight: 600;
}

.footer-content:nth-of-type(2) p{
  font-weight: 200;
  font-size: 10px;
  margin-top: 25px;
}

.iconHolder{
  width: 100vw;
  height: 35px;
}

.socialMedia{
  width: 45px;
  height: 100%;
}

.socialMedia:nth-child(1){
  margin-right: 50px;
}

/* scroll animation */

.mouse{
  width: 15px;
  height: 35px;
  border: 2px solid #4ACD9A;
  margin: 0 auto;
  border-radius: 40px;
    margin-top: 70px;
}

.mouse::after{
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #4ACD9A;
  border-radius: 7px;
  margin-left: -2.6px;
  opacity: 1;
  animation: scrollAnimation 2s infinite;

  margin-top: 5px;
}

@keyframes scrollAnimation {
  from {opacity: 1; margin-top: 5px;}
  to {opacity: 0; margin-top: 23px;}
}
