body{
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #646464;
}

.landing{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/LandingBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
  display: flex;
  justify-content: left;
  height: 95vh;
}

figure{
  width: 45px;
  height: 35px;
}

.logo{
  width: 45px;
  height: 35px;
  margin: 7px 10px;
}

.title{
  width: 300px;
  align-self: center;
  color: #FFFFFF;
  position: absolute;
}

.headTitle{
  text-align: center;
  margin-top: 100px;
}

.title-holder{
  display: flex;
  align-items: center;
  margin: -70px 0px 0px;
}

.preposition{
  font-size: 48px;
  flex-grow: 1;
}

.additions{
  margin-left: 20px;
  height: 128px;
}

.projects{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200vh;
  align-items: center;
}

/* .decoration{
  position: absolute;
  right: 0px;
  z-index: -2;
}

.decoration img{
  height: 350px;
} */

.project{
  width: 70vw;
  height: 70vh;
  margin: 15vh 0vh;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  background: #FFB017;
}

.flex-textHolder{
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px -40px;
}

.flex-textHolder:nth-child(2){
    margin: -40px 0px 0px -40px;
}

.project p{
  font-size: 22px;
  font-weight: 600;
}

.project p:nth-child(1){
  color: #FFB017;
}

.project p:nth-child(2){
  color: #FFFFFF;
}

.competences{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

.comp-holder{
  align-self: center;
  width: 80vw;
  height: 450px;
}

.comp-holder span{
  display: block;
  width: 100%;
  height: 4px;
  background: #FFB017;
}

.comp-holder svg{
  height: 70px;
  margin-bottom: 20px;
}

.tech{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  text-align: center;
}

.skill{
  width: 33%;
  align-self: center;
}

footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px 0px 0px 0px;
  width: 100%;
  height: 50vh;
  background: #FFB017;
  color: #FFFFFF;
  text-align: center;
}

.footer-content{
  width: 100%;
  height: 50%;
}

button{
  display: block;
  margin: 0 auto;
  padding: 15px 80px;
  background: #FFB017;
  border: 4px solid #FFFFFF;
}
