body{
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #202325;
}

button{
  display: block;
  margin: 0 auto;
  padding: 15px 25px 15px 70px;
  border: none;
  color: #FFFFFF;
  background: #4ACD9A;
  font-weight: 700;
}

h1{
  font-size: 30px;
  margin-top: 150px;
}

h2{
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
}

.landing{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.title{
  width: 300px;
  font-weight: 900;
  align-self: center;
  text-align: center;
  color: #202325;
  position: absolute;
}

.title p{
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 80px;
  margin-top: 80px;
  color: #A8A8A8;
}

/* scroll animation */

.mouse{
  width: 15px;
  height: 35px;
  border: 2px solid #4ACD9A;
  margin: 0 auto;
  border-radius: 40px;
  margin-top: 70px;
}

.mouse::after{
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #4ACD9A;
  border-radius: 7px;
  margin-left: -2.8px;
  opacity: 1;
  animation: scrollAnimation 2s infinite;
  margin-top: 5px;
}

@keyframes scrollAnimation {
  from {opacity: 1; margin-top: 5px;}
  to {opacity: 0; margin-top: 23px;}
}

/* The projects */

.project{
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}

.pTitle{
  width: 80vw;
  margin: 0 auto;
}

.project h2{
  font-weight: 800;
  font-size: 25px;
}

.project p{
  font-size: 12px;
  color: #989898;
  margin-bottom: 35px;
}

.pImg{
  background: #4ACD9A;
  width: 100vw;
  height: 350px;
}

.imgHolder{
  width: 100%;
  height: 320px;
  background-image:url('../img/mockup1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: -310px;
  box-shadow: 0px -15px 0px rgba(0, 0, 0, 0.25);
}

.slider{
  display: flex;
  flex-direction: row;
}

.slider span{
  width: 30%;
  height: 3px;
  background: #A8A8A8;
  margin: 20px 10px 0px 10px;
  align-self: center;
  cursor: pointer;
}

.current{
  margin-bottom: 15px !important;
  background-color: #4ACD9A !important;
}

.sliderAnimation{
  animation: slider 2s ease;
}

@-webkit-keyframes slider{
  from {opacity: 0; margin-left: -100vw;}
  to {opacity: 1; margin-left: 0px;}
}


label{
  margin-top: 20px;
  font-weight: 800;
}

a{
  margin-top: 40px;
  margin-bottom: 5px;
  font-weight: 600;
}

.underline{
  margin: 0 auto;
  width: 150px;
  height: 3px;
  background: #4ACD9A;
}

/* About me*/

.aboutMe{
  margin-top: 150px;
  width: 100%;
  background: #4ACD9A;
  color: #FFFFFF;
  text-align: center;
}

.aboutMe h2{
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
}

.aboutMe p{
  font-weight: 300;
  font-size: 14px;
  padding: 0px 30px 40px 30px;
}

/* Contact me*/

.contact{
  margin-top: 150px;
  width: 100vw;
  height: 100vh;
}

form{
  padding: 0px 50px;
}

.contact h2{
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

input, textarea{
  font-size: 15px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  opacity: 0.7;
}

form span{
  display:inline-block;
  width: 100%;
  height: 2px;
  background: #4ACD9A;
  margin: 0px 0px 20px 0px;
}

form span:nth-child(4){
  margin-bottom: 40px;
}

.submit{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  width: 140px;
  height: 35px;
  background: #4ACD9A;
  box-shadow: 4px 4px 0px rgba(55, 154, 115, 0.8);
  opacity: 1;
}

/* The footer */



@-webkit-keyframes opacity{
  from {fill-opacity: 0;}
  to {fill-opacity: 1}
}
